<ion-grid>
  <ion-row>
    <ion-col size-xs="12" size-lg>
      <ion-list>
        <ion-list-header>
          <fa-icon [icon]="faWineBottle" size="2x"></fa-icon>
          <ion-label>
            {{ 'ALCOHOLICS' | translate }}
          </ion-label>
          <ion-button fill="clear" color="primary">
            <fa-icon [icon]="faPlus" size="2x"></fa-icon>
          </ion-button>
        </ion-list-header>
        <ion-item *ngFor="let ingredient of alcoholics">{{ ingredient.name }}</ion-item>
      </ion-list>
    </ion-col>

    <ion-col size-xs="12" size-lg>
      <ion-list>
        <ion-list-header>
          <fa-icon [icon]="faGlass" size="2x"></fa-icon>
          <ion-label>
            {{ 'NON-ALCOHOLICS' | translate }}
          </ion-label>
          <ion-button fill="clear" color="primary">
            <fa-icon [icon]="faPlus" size="2x"></fa-icon>
          </ion-button>
        </ion-list-header>
        <ion-item *ngFor="let ingredient of nonAlcoholics">{{ ingredient.name }}</ion-item>
      </ion-list>
    </ion-col>

    <ion-col size-xs="12" size-lg>
      <ion-list>
        <ion-list-header>
          <fa-icon [icon]="faLemon" size="2x"></fa-icon>
          <ion-label>
            {{ 'NON-LIQUIDS' | translate }}
          </ion-label>
          <ion-button fill="clear" color="primary">
            <fa-icon [icon]="faPlus" size="2x"></fa-icon>
          </ion-button>
        </ion-list-header>
        <ion-item *ngFor="let ingredient of nonLiquids">
          <h2>{{ ingredient.name }}</h2>
          <p>{{ getMeasureName(ingredient.measure) }}</p>
        </ion-item>
      </ion-list>
    </ion-col>

  </ion-row>
</ion-grid>